<nz-layout>
  <nz-layout>
    <nz-sider class="left" [nzWidth]="250" [nzCollapsible]="true" [nzCollapsedWidth]="0" nzBreakpoint="md">
      <app-list-collection></app-list-collection>
    </nz-sider>

    <nz-content>
      <app-drawing-area></app-drawing-area>
    </nz-content>

    <nz-sider class="right" [nzWidth]="250" [nzCollapsible]="true" [nzCollapsedWidth]="0" nzBreakpoint="lg">
      <div>
        <button (click)="webSocketService.sendNeedRefresh()">
          <i nz-icon nzType="reload" nzTheme="outline"></i>
          Recharger le plateau
        </button>
      </div>

      <app-list-user></app-list-user>
      <app-chat></app-chat>
    </nz-sider>
  </nz-layout>
</nz-layout>
