<nz-spin [nzSpinning]="loading">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="giveHint()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input type="text" formControlName="hint" nz-input placeholder="Indice" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input type="number" min="0" formControlName="nb" nz-input placeholder="Nombre" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="isInfinite">
          Illimité
        </label>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button type="submit" [disabled]="form.invalid" nz-button nzType="primary" nz-tooltip="Donner l'indice">
          <i nz-icon nzType="send" nzTheme="outline"></i>
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
