form {
  display: inline-block;
  text-align: left;

  label {
    font-size: 3em;
    display: inline-block;
    margin-bottom: 10px;
  }

  #input-container {
    display: flex;

    button {
      margin-left: 20px;
    }
  }
}
