nz-header {
  display: flex;
  align-items: center;

  > * {
    margin: 10px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 1.5em;
  }

  .hide-lt-sm {
    display: none;
  }
}

@media (max-width: 830px) {
  h1 {
    font-size: 2.5em;
  }

  .hide-lt-md {
    display: none;
  }
}

@media (max-width: 970px) {
  .hide-lt-lg {
    display: none;
  }
}
