<ul nz-list>
  <nz-list-header>
    <h3 nz-typography>Chat</h3>
  </nz-list-header>

  <li nz-list-item *ngFor="let chat of chatService.messages$ | async" nzNoFlex>
    <strong>{{ chat.user.name }}</strong> à <i>{{ chat.date | date:'short' }}</i>
    <div class="message">{{ chat.message }}</div>
  </li>

  <nz-list-empty nzNoResult="Aucun message" *ngIf="(chatService.messages$ | async).length === 0"></nz-list-empty>

  <nz-list-footer>
    <app-chat-input></app-chat-input>
  </nz-list-footer>
</ul>
