@import "../variables";

nz-header,
nz-footer {
  background: $blue;
  display: flex;
  justify-content: space-between;

  * {
    color: #fff;
  }
}

nz-footer {
  line-height: 1.5;
}

nz-content {
  min-height: 120px;
  margin: 10px;
}

.user {
  padding: 0 20px;
  font-weight: bold;
  color: lightgray;
}
