<div id="control">
  <div id="pan">
    <button (click)="drawingService.panCanvas('up')" nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
    </button>

    <div id="pan-x">
      <button (click)="drawingService.panCanvas('left')" nz-button nzType="default" nzShape="circle">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      </button>

      <button (click)="drawingService.panCanvas('right')" nz-button nzType="default" nzShape="circle">
        <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
      </button>
    </div>

    <button (click)="drawingService.panCanvas('down')" nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
    </button>
  </div>

  <div id="zoom">
    <button (click)="drawingService.zoomCanvas('out')" nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="zoom-out" nzTheme="outline"></i>
    </button>

    <button (click)="drawingService.zoomCanvas('in')" nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="zoom-in" nzTheme="outline"></i>
    </button>
  </div>

  <button (click)="drawingService.resetZoomPanCanvas()" nz-button nzType="default" nzShape="circle">
    <i nz-icon nzType="undo" nzTheme="outline"></i>
  </button>
</div>

<canvas id="canvas" width="1600" height="1600"></canvas>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item *ngIf="drawingService.imageDropDown?.rotatable" (click)="drawingService.rotateImage(drawingService.imageDropDown, 'left')">
      Pivoter à gauche
    </li>

    <li nz-menu-item *ngIf="drawingService.imageDropDown?.rotatable" (click)="drawingService.rotateImage(drawingService.imageDropDown, 'right')">
      Pivoter à droite
    </li>

    <li nz-menu-item *ngIf="drawingService.imageDropDown?.rotatable" (click)="drawingService.rotateImage(drawingService.imageDropDown, '180')">
      Pivoter de 180°
    </li>

    <li nz-menu-item *ngIf="drawingService.imageDropDown?.imageBackUrl" (click)="drawingService.turnImage(drawingService.imageDropDown)">
      {{ drawingService.imageDropDown?.showBack ? 'Dévoiler' + (drawingService.imageDropDown?.hiddenFromOthers ? ' (seulement moi)' : '') : 'Cacher' }}
    </li>

    <li nz-menu-item *ngIf="drawingService.imageDropDown?.imageBackUrl && !drawingService.imageDropDown?.hiddenFromOthers " (click)="drawingService.hideImageToAll(drawingService.imageDropDown)">
      Cacher (tout le monde)
    </li>

    <li nz-menu-item *ngIf="drawingService.canShowToAllImage(drawingService.imageDropDown)" (click)="drawingService.showImageToAll(drawingService.imageDropDown)">
      Dévoiler (tout le monde)
    </li>

    <li nz-menu-item *ngIf="drawingService.canDeleteImage(drawingService.imageDropDown)" (click)="drawingService.deleteImage(drawingService.imageDropDown)">
      Supprimer
    </li>

    <li nz-menu-item (click)="drawingService.openInNewTab(drawingService.imageDropDown)">
      Zoomer dans un nouvel onglet
    </li>
  </ul>
</nz-dropdown-menu>
