<canvas id="canvas" width="1600" height="1024"></canvas>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item *ngIf="drawingService.imageDropDown?.rotatable" (click)="drawingService.rotateImage(drawingService.imageDropDown)">Pivoter</li>
    <li nz-menu-item *ngIf="drawingService.imageDropDown?.imageBackUrl" (click)="drawingService.turnImage(drawingService.imageDropDown)">
      {{ drawingService.imageDropDown?.showBack ? 'Dévoiler' + (drawingService.imageDropDown?.hiddenFromOthers ? ' (seulement moi)' : '') : 'Cacher' }}
    </li>
    <li nz-menu-item *ngIf="drawingService.canShowToAllImage(drawingService.imageDropDown)" (click)="drawingService.showImageToAll(drawingService.imageDropDown)">Dévoiler (out le monde)</li>
    <li nz-menu-item *ngIf="drawingService.canDeleteImage(drawingService.imageDropDown)" (click)="drawingService.deleteImage(drawingService.imageDropDown)">Supprimer</li>
  </ul>
</nz-dropdown-menu>
