@import 'variables';

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;

  > * {
    margin: 10px;
  }
}

.content {
  padding: 0 10px;
}

nz-sider {
  background: $lightGray;
  padding: 10px;
}
