@import "../../../../variables";

.segmentedEntities {
  background: $gray;
  padding: 2px;
  height: 300px;
}

.entities {
  background: $lightGray;
  padding: 2px;
  height: 2000px;
}

.entity {
  display: inline-block;
  position: absolute;

  &:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

nz-sider {
  background: $lightGray;
}

//.ng-draggable {
//  cursor: grab;
//}
//
//.ng-dragging {
//  cursor: grabbing;
//}
