<nz-spin [nzSpinning]="loading">
  <nz-page-header
    (nzBack)="goBack()"
    nzBackIcon
    [nzTitle]="game$()?.game?.name"
    [nzSubtitle]="'Salon ' + (game$()?.room?.name ?? '')"
  >
    <nz-page-header-extra>
      <nz-space>
        <button *nzSpaceItem nz-button nz-dropdown [nzDropdownMenu]="menuDelete">
          Supprimer les inutilisés d'un groupe
        </button>
        <nz-dropdown-menu #menuDelete="nzDropdownMenu">
          <ul nz-menu>
            @for (group of (game$()?.entitiesGroups ?? []); track group?.id)
            {
              @if (group?.canRemoveNotUsed)
              {
                <li nz-menu-item (click)="deleteNotTouchedInGroup(group?.id)">{{ group?.name }}</li>
              }
            }
            @empty
            {
              <nz-empty></nz-empty>
            }
          </ul>
        </nz-dropdown-menu>

        <button *nzSpaceItem nz-button nz-dropdown [nzDropdownMenu]="menuRandomize">
          Mélanger un groupe
        </button>
        <nz-dropdown-menu #menuRandomize="nzDropdownMenu">
          <ul nz-menu>
            @for (group of (game$()?.entitiesGroups ?? []); track group?.id)
            {
              @if (group?.randomize)
              {
                <li nz-menu-item (click)="randomizeGroup(group?.id, false, true)">{{ group?.name }}</li>
              }
            }
            @empty
            {
              <nz-empty></nz-empty>
            }
          </ul>
        </nz-dropdown-menu>
        <button *nzSpaceItem nz-button nzDanger>Terminer la partie</button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <div class="content">
    <nz-segmented
      [nzOptions]="options"
      [(ngModel)]="optionSelected"
    ></nz-segmented>

    <div class="segmentedEntities" #playerHand></div>

    <div id="main" class="entities" #main>
      @for (entity of game$()?.entities ?? []; track entity!.id) {
        @if (!entity?.deleted && (!entity?.container || entity?.container === 'main' || entity?.container === options[optionSelected].value)) {
          <div class="entity" cdkDrag [id]="'entity-' + entity!.id"
               (cdkDragEnded)="move(entity, $event)"
               [cdkDragFreeDragPosition]="{ x: entity!.x, y: entity!.y }"
               [cdkDragDisabled]="false"
               [style.z-index]="entity!.order"
               [style.border-color]="entity!.owner?.user?.color ?? 'black'"
               [style.transform]="'rotate(' + (entity!.rotation ?? 0) + 'deg)'">
            <app-game-entity [entity]="entity"
                             [players]="game$()?.players ?? []"
                             (flip)="flip(entity!, $event.showBack, $event.onlyForOwner)"
                             (rotate)="rotate(entity!, $event)"
                             (give)="give(entity!, $event)"
                             (delete)="delete(entity!)"
            ></app-game-entity>
          </div>
        }
      }
    </div>
  </div>
</nz-spin>
