<nz-page-header nzTitle="Salon"></nz-page-header>

<div class="content">
  <app-room-form></app-room-form>

  <nz-divider></nz-divider>

  <nz-spin [nzSpinning]="(rooms$ | async)?.loading">
    <nz-table #table [nzData]="(rooms$ | async)?.data?.rooms ?? []">
      <thead>
      <tr>
        <th>Date</th>
        <th>Nom</th>
        <th>Créateur</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        @for (data of table.data; track data.id) {
          <tr>
            <td>{{ data.createdAt | date:'short' }}</td>
            <td>{{ data.name }}</td>
            <td>
              <span [style.color]="data.owner.color">
                {{ data.owner.name }}
              </span>
            </td>
            <td>
              @if (data.userConnectedIsInside) {
                <a nz-button nzType="primary" [routerLink]="['/room', data.id]">Entrer</a>
              } @else {
                <button nz-button nzType="primary" (click)="join(data.id)">Rejoindre</button>
              }
            </td>
          </tr>
        }
    </tbody>
    </nz-table>
  </nz-spin>
</div>
